body, html {
  background: #608bbf;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #2b7ba0;
  text-align: center;
  letter-spacing: 0.03em;
}

#radio {
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
  -webkit-transform: translateX(-10px) translateY(0) rotate(-10deg);
          transform: translateX(-10px) translateY(0) rotate(-10deg);
  position: absolute;
}

#mute {
  margin: 10px;
  border: none;
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -40px;
  background: #235084;
  color: #c0d3e8;
  font-family: 'Rubik', sans-serif;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
}
